---
import Layout from "../layouts/Layout.astro";
import ArticleLink from "../components/ArticleLink.astro";
---

<Layout title="Articles">
  <main>
    <ul role="list">
      <ArticleLink
        url="/article"
        name="Example Article"
        dateTime="2023-01-05"
        date="Jan 5, 2023"
      />
      <ArticleLink
        url="#"
        name="Article Name"
        dateTime="2023-01-05"
        date="Jan 5, 2023"
      />
      <ArticleLink
        url="#"
        name="Article Name"
        dateTime="2023-01-05"
        date="Jan 5, 2023"
      />
      <ArticleLink
        url="#"
        name="Article Name"
        dateTime="2023-01-05"
        date="Jan 5, 2023"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    /* max-width: calc(100% - 2rem); */
  }
</style>
