---
import Layout from "../layouts/Layout.astro";
import ArticleLink from "../components/ArticleLink.astro";
---

<Layout title="Articles">
  <main style="margin: auto;">
    <ul role="list">
      <ArticleLink
        url="/article"
        name="Example Article"
        dateTime="2023-01-05"
        date="Jan 5, 2023"
      />
      <ArticleLink
        url="#"
        name="Coming Soon"
        dateTime="2023-01-05"
        date="Jan 5, 2023"
      />
      <ArticleLink
        url="#"
        name="Coming Soon"
        dateTime="2023-01-05"
        date="Jan 5, 2023"
      />
      <ArticleLink
        url="#"
        name="Coming Soon"
        dateTime="2023-01-05"
        date="Jan 5, 2023"
      />
    </ul>
  </main>
</Layout>
