<header>
  <div>
    <h1><a href="/">builtbyvic</a></h1>
  </div>
  <nav>
    <a href="https://github.com/builtbyvic">Github</a>
    <a href="mailto:builtbyvic@gmail.com">Email</a>
  </nav>
</header>
<style>
  @font-face {
    font-family: "The Beach";
    src: url("../fonts/the-beach.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  h1 {
    font-family: "The Beach", sans-serif;
    text-transform: uppercase;
  }
  div h1 a {
    text-decoration: none;
  }
  header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: end;
    margin-block-end: var(--xxl);
  }
  header div {
    justify-self: start;
  }
  nav a:first-child {
    margin-inline-end: var(--small);
  }
</style>
