---
// Component Script (JavaScript)
import SocialLink from "./SocialLink.astro";
---
<!-- Component Template (HTML + JS Expressions) -->
<header>
  <div>
    <h1>builtbyvic</h1>
    <h6>learn as you go</h6>
  </div>
  <nav>
    <SocialLink url="https://github.com/builtbyvic" path="../public/github.svg" tooltipText="Github"/>
  </nav>
</header>