---
// Component Script (JavaScript)
// import SocialLink from "./SocialLink.astro";
---

<!-- Component Template (HTML + JS Expressions) -->
<header>
  <div>
    <h1><a href="#">builtbyvic</a></h1>
    <!-- <h3>learn as you go</h3> -->
  </div>
  <nav>
    <!-- <SocialLink
      url="https://github.com/builtbyvic"
      path="/github.svg"
      tooltipText="Github"
    />
    <SocialLink
      url="mailto:builtbyvic@gmail.com"
      path="/email.svg"
      tooltipText="Email"
    /> -->
    <a href="https://github.com/builtbyvic">Github</a>
    <a href="mailto:builtbyvic@gmail.com">Email</a>
  </nav>
</header>
<style>
  @font-face {
    font-family: "The Beach";
    src: url("../fonts/the-beach.otf") format("opentype");
  }
  h1 {
    font-family: "The Beach";
  }
  div h1 a {
    text-decoration: none;
  }
  header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: end;
  }
  header div {
    justify-self: start;
  }
</style>
