---
const {url,path,tooltipText} = Astro.props;
---
<div>
  <a href={url} target="_blank">
   <img src={path}/>
  </a>
 <span>{tooltipText}</span>
</div>


<style>
  a {
    color: inherit;
    text-decoration: none;
  }
  img {
    block-size: 24px;
    inline-size: 24px;
  }
  a span {
    appearance: none;
  }
</style>