---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/storm.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /* * {
  margin: 0;
} */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
  /* my reset */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 0;
  }
  a {
    color: currentColor;
    text-decoration: underline;
  }
  ul {
    padding-inline-start: 0;
  }
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --light-text-color: #fff;
    --xs: 0.25rem;
    --small: 0.5rem;
    --medium: 0.75rem;
    --regular: 1rem;
    --lg: 1.25rem;
    --xl: 1.5rem;
    --xxl: 2rem;
    background: #13151a;
    color: var(--light-text-color);
    font-family: "Circular Std";
    margin-block: var(--xxl);
    margin-inline: auto;
    min-width: 320px;
    max-width: 690px;
    padding-inline: var(--regular);
  }
  /* @font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-Book.otf") format("opentype");
  } */
  @font-face {
    font-family: "Circular Std";
    src:
      url("../fonts/CircularStd-Book.woff2") format("woff2"),
      url("../fonts/CircularStd-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* @font-face {
    font-family: "Circular Std";
    src:
      url("../fonts/CircularStd-Medium.woff2") format("woff2"),
      url("../fonts/CircularStd-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  } */
</style>
